/* ************* Query Tab ************* */

#query-input-abstract{
    display: none;
}

#query .report {
    text-align: right;
    display: none;
}

#query .message {
    text-align: center;
}

#query .results {
    display: none;
}

#tweet-model {
    display: none;
}

#query .results .tweet,
#query .results .tweet > *,
#query .results .tweet > * > *{
    padding: 0;
    margin: 0;
}

#query .results .list-group-item:hover{
    background-color: #fafafa;
}

#query .results .tweet .avatar{
    max-height: 50px;
    max-width: 50px;
    margin: 0;
    float: left;
}

#query .results .tweet .avatar img{
    width: auto;
    height: auto;
}

#query .results .tweet .user{
    float: left;
    margin-left: 10px;
}

#query .results .tweet .user > *{
    margin: 0;
}

#query .results .tweet .user .name{
    font-size: 20px;
}

#query .results .tweet .user .nick{
    font-size: 14px;
    color: #777;
}

#query .results .tweet .info {
    text-align: right;
}

#query .results .tweet .info .date {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
}

#query .results .tweet .info .indicators {
    font-size: 16px;
    color: #555;
}

#query .results .tweet .info .indicators > *{
    margin: 0 0 0 15px;
}


#query .results .tweet .text{
    margin: 10px 0;
    text-align: justify;
}

/* ************* Wordcounter Tab ************* */

#wordcounter-model{
    display: none;
}

#wordcounter .report {
    text-align: right;
    display: none;
}

#wordcounter .message {
    text-align: center;
}

#wordcounter .results {
    display: none;
}

#wordcounter .chart{
    text-align: center;
    display: none;
}

#wordcounter .chart canvas{
    width: 100% !important;
    height: 100% !important;
    max-width: 500px !important;
    max-height: 500px !important;
    display: inline-block !important;
}

/* ************* Hashtagcounter Tab ************* */

#hashcounter-model{
    display: none;
}

#hashcounter .report {
    text-align: right;
    display: none;
}

#hashcounter .message {
    text-align: center;
}

#hashcounter .results {
    display: none;
}

#hashcounter .chart{
    text-align: center;
    display: none;
}

#hashcounter .chart canvas{
    width: 100% !important;
    height: 100% !important;
    max-width: 500px !important;
    max-height: 500px !important;
    display: inline-block !important;
}

/* ************* Cooccurrences Tab ************* */

#cooccurrences-model {
    display: none;
}

#cooccurrences .results .list-group-item{
    padding: 0;
    color: #333;
}

#cooccurrences .results .list-group-item.collapsed table{
    display: none;
}

#cooccurrences .results .result-header{
    padding: 10px 15px;
    background-color: #f5f5f5;
    cursor: pointer;
}

#cooccurrences .results .collapsed .result-header{
    background-color: #fff;
}

#cooccurrences .results .collapsed .result-header:hover{
    background-color: #f5f5f5;
}

#cooccurrences .results .list-group-item table{
    border-bottom: 1px solid #ddd;
}

#cooccurrences .results .list-group-item:last-child table{
    margin-bottom: 0;
    border-bottom: none;
}

#cooccurrences .report {
    text-align: right;
    display: none;
}

#cooccurrences .message {
    text-align: center;
}

#cooccurrences .results {
    display: none;
}
